@import "tailwindcss";
:root {
  --bg: #0b0f19;
  --card: #111827;
  --border: #1f2937;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --accent: #6366f1;
  --accent-hover: #4f46e5;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, sans-serif;
}